{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron" style="padding: 2%; margin: 10px;">
  {% if 'temperatures' in request.path %}
    <h1 class="display-6">{% trans 'Temperatures' %}</h1>
  {% elif 'humidities' in request.path %}
    <h1 class="display-6">{% trans 'Humidities' %}</h1>
  {% elif 'lightness' in request.path %}
    <h1 class="display-6">{% trans 'Lightnesses' %}</h1>
  {% endif %}
</div>
<form action="{% url 'data:temperature-chart' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
  <div id="container" style="width: 75%;">
    <canvas id="line-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
        }],
        labels: {{ labels|safe }}
      },
      options: {
        legend: {
          display: false
        },
        plugins: {
            title: {
                display: true,
                text: 'Custom Chart Title'
            }
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('line-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}