{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% block header %}
<div class="jumbotron" style="padding: 2%; margin: 10px;">
    <h1 class="display-6">{% trans 'Temperatures' %}</h1>
</div>
{% endblock header %}
{% block content %}
<div>
<table class="table table-striped table-hover">
<thead>
    <th scope="col">#</th>
    <th scope="col">{% trans 'temperature' %}</th>
    <th scope="col">{% trans 'day' %}</th>
    <th scope="col">{% trans 'time' %}</th>
    <th scope="col"></th>
</thead>
{% include "data/values_table.html" with object_list=object_list %}
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" name="get_temp">{% trans 'Get current temperature' %}</button>
    <button type="submit" class="btn btn-primary" name="see_charts">{% trans 'See charts' %}</button>
</form>
</div>
{% endblock %}