{% load bootstrap4 %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% trans 'Control your Home' %}</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'core:home' %}">{% trans 'Main page' %}</a>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-togglr-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'data:temperature-list' %}">{% trans 'Temperatures' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'data:humidity-list' %}">{% trans 'Humidities' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'data:lightness-list' %}">{% trans 'Lightnesses' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'Settings' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:logout' %}">{% trans 'Log out' %}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:login' %}">{% trans 'Log in' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}
    </body>
</html>