{% extends "base.html" %}
{% load bootstrap_icons %}
{% load i18n %}
{% block header %}
{% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}
<div class="jumbotron">
    <h1 class="display-4">
        {% if current_hour < 12 %}
        {% trans 'Good morning' %},
        {% elif current_hour < 19 %}
        {% trans 'Good afternoon' %},
        {% else %}
        {% trans 'Good evening' %},
        {% endif %}
        {% if user.is_authenticated %}
        {{ user.username }}
        {% else %}
        {% trans 'Guest' %}
        {% endif %}
    </h1>
    
    <p class="lead">{% trans 'Today is' %} {{ current_date|date:'l' }}, {{ current_date|date:'j E Y'}}. </p>
    <hr class="my-4">
    {% if not user.is_authenticated %}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'core:register' %}" role="button">{% trans 'Create account' %}</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'core:login' %}" role="button">{% trans 'Log in' %}</a>
    </p>
    {% endif %}
</div>
{% endblock header %}
{% block content %}
<div>
    <div class="container-fluid " style="display: inline-flex;">
        <div class="jumbotron jumbotron-fluid w-50 m-1 text-center rounded" >
            <h1 class="display-3">{% trans 'Last temperature' %}</h1>
            <h1 class="display-3">
                {% if last_temperature.value >= 20 %}
                {% bs_icon 'thermometer-sun' size='1em' %}
                {% else %}
                {% bs_icon 'thermometer-snow' size='1em' %}
                {% endif %}
                {{ last_temperature.value }}°C
                {% if last_temperature.value > temperature_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>{% trans 'Updated:' %} {{ last_temperature.date_time.date|date:'j M' }}, {{ last_temperature.date_time.time|date:'G:i' }}</h3>
            <h2>{% trans 'Last week average:' %} {{ temperature_week_average|floatformat:1 }}°C</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-temperature' %}" role="button">{% trans 'Get current temperature' %}</a>
            </p>
            {% if user.is_authenticated %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:temperature-list' %}" role="button">{% trans 'See all' %}</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:temperature-chart' %}" role="button">{% trans 'See charts' %}</a>
            </p>
            {% endif %}
        </div>

        <div class="jumbotron jumbotron-fluid col-md-4 m-1 text-center rounded" >
            <h1 class="display-3">{% trans 'Last humidity' %}</h1>
            <h1 class="display-3">
                {% bs_icon 'moisture' size='1em' %}
                {{ last_humidity.value }}%
                {% if last_humidity.value > humidity_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>{% trans 'Updated:' %} {{ last_humidity.date_time.date|date:'j M' }}, {{ last_humidity.date_time.time|date:'G:i' }}</h3>
            <h2>{% trans 'Last week average:' %} {{ humidity_week_average|floatformat:1 }}%</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-humidity' %}" role="button">{% trans 'Get current humidity' %}</a>
            </p>
            {% if user.is_authenticated %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:humidity-list' %}" role="button">{% trans 'See all' %}</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:humidity-chart' %}" role="button">{% trans 'See charts' %}</a>
            </p>
            {% endif %}
        </div>

        <div class="jumbotron jumbotron-fluid col-md-4 m-1 text-center rounded" >
            <h1 class="display-3">{% trans 'Last lightness' %}</h1>
            <h1 class="display-3">
                {% if last_lightness.value >= 100 %}
                {% bs_icon 'sun' size='1em' %}
                {% else %}
                {% bs_icon 'moon-fill' size='1em' %}
                {% endif %}
                {{ last_lightness.value }} lx
                {% if last_lightness.value > lightness_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>{% trans 'Updated:' %} {{ last_lightness.date_time.date|date:'j M' }}, {{ last_lightness.date_time.time|date:'G:i' }}</h3>
            <h2>{% trans 'Last week average:' %} {{ lightness_week_average|floatformat:1 }} lx</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-lightness' %}" role="button">{% trans 'Get current lightness' %}</a>
            </p>
            {% if user.is_authenticated %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:lightness-list' %}" role="button">{% trans 'See all' %}</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:lightness-chart' %}" role="button">{% trans 'See charts' %}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}