{% extends "base.html" %}
{% load bootstrap_icons %}
{% block header %}
<div class="jumbotron">
    <h1 class="display-4">Hello, User</h1>
    <p class="lead">Today is {{ current_time|date:'l ' }}, {{ current_time|date:'j E Y'}}. </p>
    <hr class="my-4">
    <p>
        Only thing you nedd is Arduino with appropiate modules, contact SmartHomeCompany® and we will help you 🤝
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Create account!</a>
    </p>
</div>
<div>
    <div class="container-fluid " style="display: inline-flex;">
        <div class="jumbotron jumbotron-fluid w-50 m-1 text-center rounded" >
            <h1 class="display-3">Last temperature</h1>
            <h1 class="display-3">
                {% if last_temperature.value >= 20 %}
                {% bs_icon 'thermometer-sun' size='1em' %}
                {% else %}
                {% bs_icon 'thermometer-snow' size='1em' %}
                {% endif %}
                {{ last_temperature.value }}°C
                {% if last_temperature.value > temperature_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>Updated: {{ last_temperature.date_time.date|date:'j M' }}, {{ last_temperature.date_time.time|date:'G:i' }}</h3>
            <h2>Last week average: {{ temperature_week_average|floatformat:1 }}°C</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-temperature' %}" role="button">Get current temperature</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:temperature-list' %}" role="button">See all</a>
            </p>
        </div>

        <div class="jumbotron jumbotron-fluid col-md-4 m-1 text-center rounded" >
            <h1 class="display-3">Last humidity</h1>
            <h1 class="display-3">
                {% bs_icon 'moisture' size='1em' %}
                {{ last_humidity.value }}%
                {% if last_humidity.value > humidity_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>Updated: {{ last_humidity.date_time.date|date:'j M' }}, {{ last_humidity.date_time.time|date:'G:i' }}</h3>
            <h2>Last week average: {{ humidity_week_average|floatformat:1 }}%</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-humidity' %}" role="button">Get current humidity</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:humidity-list' %}" role="button">See all</a>
            </p>
        </div>

        <div class="jumbotron jumbotron-fluid col-md-4 m-1 text-center rounded" >
            <h1 class="display-3">Last lightness</h1>
            <h1 class="display-3">
                <!-- {% bs_icon 'moisture' size='1em' %} -->
                {{ last_lightness.value }} lx
                {% if last_lightness.value > lightness_week_average %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <h3>Updated: {{ last_lightness.date_time.date|date:'j M' }}, {{ last_lightness.date_time.time|date:'G:i' }}</h3>
            <h2>Last week average: {{ lightness_week_average|floatformat:1 }} lx</h2>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'core:get-lightness' %}" role="button">Get current lightness</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:lightness-list' %}" role="button">See all</a>
            </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
{% endblock %}