{% extends "base.html" %}
{% load bootstrap_icons %}
{% block header %}
<div class="jumbotron">
    <h1 class="display-4">Hello, User</h1>
    <p class="lead">Today is {{ current_time|date:'l ' }}, {{ current_time|date:'j E Y'}}. </p>
    <hr class="my-4">
    <p>
        Only thing you nedd is Arduino with appropiate modules, contact SmartHomeCompany® and we will help you 🤝
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Create account!</a>
    </p>
</div>
<div class="container-fluid">
    <div class="container-fluid" style="display: inline-flex;">
        <div class="jumbotron jumbotron-fluid col-md-4 offset-md-1 text-center" >
            <h1 class="display-3">Last temperature</h1>
            <h1 class="display-3">
                {% if last_temperature.value >= 20 %}
                {% bs_icon 'thermometer-sun' size='1em' %}
                {% else %}
                {% bs_icon 'thermometer-snow' size='1em' %}
                {% endif %}
                {{ last_temperature.value }}°C
                {% if is_temp_higher %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:temperature-list' %}" role="button">See all</a>
            </p>
        </div>

        <div class="jumbotron jumbotron-fluid col-md-4 offset-md-1 text-center" >
            <h1 class="display-3">Last humidity</h1>
            <h1 class="display-3">
                {% bs_icon 'moisture' size='1em' %}
                {{ last_humidity.value }}%
                {% if is_humidity_higher %}
                {% bs_icon 'arrow-up-circle-fill' size='1em' %}
                {% else %}
                {% bs_icon 'arrow-down-circle-fill' size='1em' %}
                {% endif %}
            </h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'data:humidity-list' %}" role="button">See all</a>
            </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
{% endblock %}